@mixin h1-styling {
    font-size: 48px;
    font-weight: normal;
    letter-spacing: 5px;
    font-family: $heading-font;
}

@mixin h2-styling {
    text-transform: uppercase;
    font-family: $heading-font;
    font-size: 30px;
    font-weight: normal;
}